.login {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 5rem 0 5rem;
	font-family: 'Poppins', sans-serif;

	.login-container {
		display: flex;
		justify-content: flex-end;
		align-items: center;
		flex: 0 0 100%;
		
		.top-logo {
			display: none;

			@media screen and (max-width: 800px) {
				display: block;
				margin-bottom: 2rem;
			}
		}

		@media screen and (max-width: 800px) {
			justify-content: center;
		}

		.form {
			margin-right: 10rem;
			flex: 0 0 25%;

			@media screen and (max-width: 800px) {
				flex: 0 0 70%;
				margin-right: 0;
			}

			@media screen and (max-width: 600px) {
				flex: 0 0 85%;
			}

			.heading {
				font-weight: 600;
				margin-bottom: 3rem;
				text-align: center;
				font-size: 2.2rem;
			}
		
			.form-group {
				margin-bottom: 2rem;
		
				label {
					margin-bottom: .5rem;
				}
			}

			.forgot-password {
				display: flex;
				justify-content: flex-end;
				font-weight: 600;
				font-size: 1.2rem;
				margin-bottom: 2rem;
				margin-top: -1.5rem;

				a {
					text-decoration: none;
				}
			}

			.register {
				text-align: center;
				font-size: 1.2rem;
				margin-top: 1rem;

				a {
					text-decoration: none;
					font-weight: 600;
				}
			}
		
			.actions {
				display: flex;
				justify-content: center;
		
				.btn {
					justify-content: center;
					display: flex;
					
					background-color: var(--color-primary);
					color: #fff;
					padding: 0.8rem 2rem;
					font-size: 1.4rem;
					width: 100%;
				}
			}
		}

		.box {
			background-color: var(--color-primary);
			padding: 20rem;

			@media screen and (max-width: 980px) {
				padding: 20rem 14rem;
			}

			@media screen and (max-width: 800px) {
				display: none;
			}
		}
	}
}