<div class="login family-roboto">
  <div class="login-container">
    <form [formGroup]="theForm" class="form">

      <div class="logo-container">
        <div class="logo-text">
          <div class="family-roboto">Doha Project Management</div>
          <div class="text-ar">الدوحة لادارة المشاريع</div>
        </div>

        <img src="/assets/images/logo_primary.png" class="top-logo" alt="DPM Logo">
      </div>

      <div class="form-group col">
        <label for="email">Email</label>
        <input id="email" type="email" class="form-control" placeholder="Enter Email" formControlName="email">

        @if (theForm.get('email')?.touched && theForm.get('email')?.invalid) {
          <div class="alert alert-danger">
            @if (theForm.get('email')?.hasError('required')) {
              <div>Email is required</div>
            }
            @if (theForm.get('email')?.hasError('email')) {
              <div>Email is invalid</div>
            }
          </div>
        }
      </div>

      <div class="form-group col">
        <label for="password">Password</label>
        <input id="password" type="password" class="form-control" placeholder="Enter Password" formControlName="password">
        @if (theForm.get('password')?.touched && theForm.get('password')?.invalid) {
          <div class="alert alert-danger">
            @if (theForm.get('password')?.hasError('required')) {
              <div>Password is required</div>
            }
          </div>
        }
      </div>

      <div class="forgot-password">
        <a routerLink="/forgot-password">Forgot password</a>
      </div>

      <div class="actions">
        <button class="btn" (click)="onLogin()" [disabled]="theForm.invalid || disableLoginBtn">
          @if (!disableLoginBtn) {
            <span>Login</span>
          }
          @if (disableLoginBtn) {
            <div class="flex">
              <span class="spinner-border" role="status" aria-hidden="true"></span>
              <span class="sr-only ml-3">Login...</span>
            </div>
          }
        </button>
      </div>

      <div class="register">
        Don't have an account? <a routerLink="/login-type">Sign Up</a>
      </div>
    </form>

    <div class="d-shape">
      <img src="/assets/images/logo.svg" class="logo" alt="DPM Logo">

      <div class="logo-text">
        <div class="family-roboto">Doha Project Management</div>
        <div class="logo-text-ar">الدوحة لادارة المشاريع</div>
      </div>
    </div>
  </div>
</div>
