<section class="offers">
	<div class="section-title">
		<h2 class="heading" translate>Services_Offered</h2>
		<p class="para" translate>Services_Offered_Description</p>
	</div>

	<div class="cards">
		<div class="offer-card">
			<div class="box">
				<img src="/assets/images/offers/offer.png" alt="Offer">
			</div>

			<div class="type" translate>Service1_title</div>
			<div class="team" translate>Service1_team</div>

			<div class="item-row">
				<img src="/assets/images/offers/dollar.svg" alt="amount">
				<div class="value" translate>Service1_price</div>
			</div>

			<div class="item-row">
				<img src="/assets/images/offers/map.svg" alt="map">
				<div class="value" translate>Service1_location</div>
			</div>

			<button class="btn btn-apply" translate>Apply_Now_Btn</button>
		</div>

		<div class="offer-card">
			<div class="box">
				<img src="/assets/images/offers/offer.png" alt="Offer">
			</div>

			<div class="type mb-3" translate>Service2_title</div>
			<div class="team" translate>Service2_team</div>

			<div class="item-row">
				<img src="/assets/images/offers/dollar.svg" alt="amount">
				<div class="value" translate>Service2_price</div>
			</div>

			<div class="item-row">
				<img src="/assets/images/offers/map.svg" alt="map">
				<div class="value" translate>Service2_location</div>
			</div>

			<button class="btn btn-apply" translate>Apply_Now_Btn</button>
		</div>

		<div class="offer-card">
			<div class="box">
				<img src="/assets/images/offers/offer.png" alt="Offer">
			</div>

			<div class="type" translate>Service3_title</div>
			<div class="team" translate>Service3_team</div>

			<div class="item-row">
				<img src="/assets/images/offers/dollar.svg" alt="amount">
				<div class="value" translate>Service3_price</div>
			</div>

			<div class="item-row">
				<img src="/assets/images/offers/map.svg" alt="map">
				<div class="value" translate>Service3_location</div>
			</div>

			<button class="btn btn-apply" translate>Apply_Now_Btn</button>
		</div>

		<div class="offer-card">
			<div class="box">
				<img src="/assets/images/offers/offer.png" alt="Offer">
			</div>

			<div class="type" translate>Service4_title</div>
			<div class="team" translate>Service4_team</div>

			<div class="item-row">
				<img src="/assets/images/offers/dollar.svg" alt="amount">
				<div class="value" translate>Service4_price</div>
			</div>

			<div class="item-row">
				<img src="/assets/images/offers/map.svg" alt="map">
				<div class="value" translate>Service4_location</div>
			</div>

			<button class="btn btn-apply" translate>Apply_Now_Btn</button>
		</div>
	</div>
</section>