<section class="offers">
	<div class="section-title">
		<h2 class="heading">خدمات ذات قيمة مضافة</h2>
		<p class="para">Services_Offered_Description</p>
	</div>

	<div class="cards">
		<div class="offer-card">
			<div class="box">
				<img src="/assets/images/offers/contract.png" alt="Contract Service">
			</div>

			<div class="type">كتابة العقود و المواصفات</div>
			<div class="team">القسم الفني</div>

			<div class="item-row">
				<img src="/assets/images/offers/dollar.svg" alt="amount">
				<div class="value">مجانا</div>
			</div>

			<div class="item-row">
				<img src="/assets/images/offers/map.svg" alt="map">
				<div class="value">مشاريع سكنية و تجارية</div>
			</div>

			<button class="btn btn-apply">اطلب الان</button>
		</div>

		<div class="offer-card">
			<div class="box">
				<img src="/assets/images/offers/legal_support.png" alt="Legal Support Service">
			</div>

			<div class="type mb-3">المثيل القانوني</div>
			<div class="team">القسم القانوني</div>

			<div class="item-row">
				<img src="/assets/images/offers/dollar.svg" alt="amount">
				<div class="value">مجانا</div>
			</div>

			<div class="item-row">
				<img src="/assets/images/offers/map.svg" alt="map">
				<div class="value">طرح مناقصة</div>
			</div>

			<button class="btn btn-apply">اطلب الان</button>
		</div>

		<div class="offer-card">
			<div class="box">
				<img src="/assets/images/offers/price_analysis.png" alt="Price Analysis Service">
			</div>

			<div class="type">حساب الكميات و تحليل الاسعار</div>
			<div class="team">القسم الفني</div>

			<div class="item-row">
				<img src="/assets/images/offers/dollar.svg" alt="amount">
				<div class="value">مجانا</div>
			</div>

			<div class="item-row">
				<img src="/assets/images/offers/map.svg" alt="map">
				<div class="value">مشاريع سكنية و تجارية</div>
			</div>

			<button class="btn btn-apply">اطلب الان</button>
		</div>

		<div class="offer-card">
			<div class="box">
				<img src="/assets/images/offers/project_management.png" alt="Project Management service">
			</div>

			<div class="type">إدارة المشاريع</div>
			<div class="team">القسم الفني</div>

			<div class="item-row">
				<img src="/assets/images/offers/dollar.svg" alt="amount">
				<div class="value">مجانا</div>
			</div>

			<div class="item-row">
				<img src="/assets/images/offers/map.svg" alt="map">
				<div class="value">مشاريع سكنية و تجارية</div>
			</div>

			<button class="btn btn-apply">اطلب الان</button>
		</div>
	</div>
</section>