.forgot-password {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 5rem 0 5rem;

	@media screen and (max-width: 600px) {
		padding: 5rem 2rem 5rem;
	}

	.logo-container {
		display: flex;
		justify-content: center;
		align-items: flex-end;
		margin-bottom: 2rem;

		.logo-text {
			margin-right: 1rem;
			text-align: right;
			font-size: 1rem;

			.text-ar {
				letter-spacing: 1.34px;
			}
		}
	}

	.forgot-password-container {
		display: flex;
		justify-content: center;
		align-items: center;
		flex: 0 0 100%;

		@media screen and (max-width: 800px) {
			justify-content: center;
		}

		.form {
			margin-right: 10rem;
			flex: 0 0 25%;

			@media screen and (max-width: 800px) {
				flex: 0 0 70%;
				margin-right: 0;
			}

			@media screen and (max-width: 600px) {
				flex: 0 0 85%;
			}
		
			.form-group {
				margin-bottom: 2rem;
		
				label {
					margin-bottom: .5rem;
				}
			}
		
			.actions {
				display: flex;
				justify-content: center;
		
				.btn {
					justify-content: center;
					display: flex;
					
					background-color: var(--color-primary);
					color: #fff;
					padding: 0.8rem 2rem;
					font-size: 1.4rem;
					width: 100%;
				}
			}
		}
	}

	.btn-back {
		background-color: #2E2E2E;
		color: #fff;
		padding: 0.2rem 1rem;
		border-radius: 0.5rem;
		margin-top: 1rem;
	}

	.message-panel {
		background: #fff;
		padding: 5rem;
		border-radius: 1rem;
		text-align: center;
		font-size: 2rem;
		color: #0da40d;
		font-weight: 600;
	
		@media screen and (max-width: 500px) {
			padding: 5rem 0;
		}
	}
}