<div class="forgot-password">
	<div class="forgot-password-container" *ngIf="!message">
		<form class="form">
			<div class="flex justify-center">
				<img src="/assets/images/logo.svg" class="top-logo" alt="DPM Logo">
			</div>

			<div class="form-group col">
				<label for="email">Email</label>
				<input id="email" type="email" class="form-control" placeholder="Enter Email" [formControl]="email">

				<div class="alert alert-danger" *ngIf="email?.touched && email?.invalid">
					<div *ngIf="email?.hasError('required')">Email is required</div>
					<div *ngIf="email?.hasError('email')">Email is invalid</div>
				</div>
			</div>
			
			<div class="actions">
				<button class="btn" (click)="onForgotPassword()" [disabled]="email.invalid || disableBtn">
					<span *ngIf="!disableBtn">Submit</span>
					<div class="flex" *ngIf="disableBtn">
						<span class="spinner-border" role="status" aria-hidden="true"></span>
						<span class="sr-only ml-3">submitting...</span>
					</div>
				</button>
			</div>
		</form>
	</div>

	<div class="message-panel" *ngIf="message">
		<h2>{{ message }}</h2>
		<button class="btn-back" routerLink="/">رجوع</button>
	</div>
</div>
