<div class="generic-table">
  <div class="content">
    <table class="table">
      <thead>
        <tr>
          <th>Tender Number</th>
          <th>Type</th>
          <th>Opening Date</th>
          <th>Closing Date</th>
        </tr>
      </thead>
      <tbody>
        @for (tender of tenders; track tender) {
          <tr class="collapsed">
            <td class="tender-number">
              <div>{{ tender.tenderNumber }}</div>
              @if (tender.awardedTo) {
                <div class="awarded-to">{{ tender.status }}</div>
              }
            </td>
            <td>{{ tender.type }}</td>
            <td>
              <div>{{ tender.openingDate | date:'dd MMM YYYY' }}</div>
              <div>{{ tender.openingDate | date:'hh:mm a' }}</div>
            </td>
            <td>
              <div>{{ tender.closingDate | date:'dd MMM YYYY' }}</div>
              <div>{{ tender.closingDate | date:'hh:mm a' }}</div>
            </td>
          </tr>
        }

        @if (tenders.length === 0;) {
          <tr>
            <td colspan="5">No tenders added yet.</td>
          </tr>
        }
      </tbody>
    </table>

    <div class="cards">
      @for (tender of tenders; track tender) {
        <div class="card">
          <div class="items-row">
            <div class="item">
              <div class="label">Tender Number</div>
              <div class="value text-center">{{ tender.tenderNumber }}</div>
            </div>
            <div class="item">
              <div class="label">Type</div>
              <div class="value">{{ tender.type }}</div>
            </div>
          </div>
          <div class="items-row">
            <div class="item">
              <div class="label">Opening Date</div>
              <div class="value">{{ tender.openingDate | date:'dd MMM YYYY' }}</div>
            </div>
            <div class="item">
              <div class="label">Closing Date</div>
              <div class="value">{{ tender.closingDate | date:'dd MMM YYYY' }}</div>
            </div>
          </div>
        </div>
      }

      @if (tenders.length === 0;) {
        <div>
          No participation yet.
        </div>
      }
    </div>
  </div>
</div>
