<footer class="footer">
	<div class="content">
		<div class="logo-section">
			<div routerLink="/" class="logo-text">
				<div class="text">
					<div class="family-roboto">Doha Project Management</div>
					<div class="logo-text-ar">الدوحة لادارة المشاريع</div>
				</div>
				<img src="/assets/images/logo.svg" class="logo" alt="DPM Logo">
			</div>
			<div class="text">أول شركة قطرية لإدارة المشاريع تقدم خدمات شاملة من التصميم إلى التأثيث، تشمل أكثر من 10 خدمات هندسية، فنية، وقانونية لتمثيل المالك وضمان تنفيذ بجودة عالية. #خلك غير</div>
		</div>

		<div class="links-section">
			<ul class="links">
				<li>Doha DPM</li>
				<li routerLink="/">Home</li>
				<li routerLink="tenders">Tenders</li>
				<li routerLink="login-type">Login</li>
				<li routerLink="login-type">Sign Up</li>
				<li routerLink="contact_us">Contact Us</li>
				<li routerLink="terms">Terms and conditions</li>
			</ul>
		</div>
		
		<div class="address-section family-roboto">
			<h4 class="heading">Get in touch with us</h4>

			<div class="info-item">
				<i class="material-icons mr-3">pin_drop</i>
				<div>{{ contactAddress }}</div>
			</div>

			<div class="info-item">
				<i class="material-icons mr-3">phone</i>
				<div>+974 {{ contactNumber }}</div>
			</div>

			<div class="info-item">
				<i class="material-icons mr-3">email</i>
				<div>{{ contactEmail }}</div>
			</div>
		</div>
	</div>
</footer>

<div class="copyrights">DPM &nbsp; &dash; &nbsp; &copy; {{ currentDate | date:'YYYY' }} All rights reserved</div>
