.footer {
	background-color: var(--color-primary);
	color: #fff;
	padding: 5rem 10rem;
	font-size: 1.3rem;

	@media screen and (max-width: 700px) {
		padding: 5rem 2rem;
	}

	.content {
		display: flex;

		@media screen and (max-width: 700px) {
			flex-direction: column;
		}
	}
	
	.logo-section {
		display: flex;
		flex-direction: column;
		flex: 0 0 25%;
		margin-right: 10rem;

		@media screen and (max-width: 960px) {
			margin-right: 2rem;
		}

		@media screen and (max-width: 700px) {
			margin-right: 0;
			margin-bottom: 4rem;
		}

		.logo {
			width: 14rem;
			margin-bottom: 2rem;
		}
	}

	.links-section {
		flex: 0 0 35%;
		display: flex;
		justify-content: center;
		margin-right: 10rem;

		@media screen and (max-width: 960px) {
			margin-right: 2rem;
		}

		@media screen and (max-width: 700px) {
			margin-right: 0;
			margin-bottom: 2rem;
			justify-content: flex-start;
		}

		ul {
			list-style: none;

			li {
				margin-bottom: 2rem;

				&:first-child {
					font-weight: 600;
				}
			}
		}
	}

	.heading {
		font-weight: 600;
		margin-bottom: 1rem;
	}
	
	.info-item {
		display: flex;
		align-items: center;
		margin-bottom: 2rem;

		.material-icons {
			font-size: 2rem !important;
		}
	}
}

.copyrights {
	font-size: 1.4rem;
	background-color: #1F2131;
	color: #fff;
	padding: 2rem 10rem;

	@media screen and (max-width: 700px) {
		padding: 2rem;
	}
}