<footer class="footer">
	<div class="content">
		<div class="logo-section">
			<img src="/assets/images/logo.svg" class="logo" alt="DPM Logo">
			<div class="text" translate>Footer_Description</div>
		</div>

		<div class="links-section">
			<ul class="links">
				<li>DPM</li>
				<li routerLink="/">Home</li>
				<li routerLink="tenders">Tenders</li>
				<li routerLink="login-type">Login</li>
				<li routerLink="login-type">Sign Up</li>
				<li routerLink="contact_us">Contact Us</li>
				<li routerLink="terms">Terms and conditions</li>
			</ul>
		</div>
		
		<div class="address-section">
			<h4 class="heading">Get in touch with us</h4>

			<div class="info-item">
				<i class="material-icons mr-3">pin_drop</i>
				<div translate>Footer_Address</div>
			</div>

			<div class="info-item">
				<i class="material-icons mr-3">phone</i>
				<div>+974 6666-9081</div>
			</div>

			<div class="info-item">
				<i class="material-icons mr-3">email</i>
				<div>Info@dpm.qa</div>
			</div>
		</div>
	</div>
</footer>

<div class="copyrights">DPM &nbsp; &dash; &nbsp; &copy; {{ currentDate | date:'YYYY' }} All rights reserved</div>
