<div class="terms">
	<section class="terms-logo-header">
		<div class="content">
			<h1 class="heading-primary" dir='rtl' lang='ar'>الشروط والأحكام لموقع وصال </h1>
		</div>
	
		<img class="image" src="/assets/images/offers/contract.png" alt="Contract">

	</section>

	<div class="content">
		<h2 dir='rtl' lang='ar' class="title">الفهرس</h2>

		<ol dir='rtl' lang='ar' class="terms-list">
			<li>
				<h2 class="fg-primary">البداية</h2>
				<p>
					إستخدام المالبدايةوقع الإلكتروني<br/>
					يخضع استخدامك لموقع شركة و الدوحة لإدارة المشاريع ذ.م.م الإلكتروني www.dohapm.com والمواد والخدمات المتوفرة فيه أو عبره (يشار إليها مجتمعة بـ "الموقع الإلكتروني") ، للشروط والأحكام ("شروط الاستخدام") بالإضافة إلى قوانين المعمولة بها في دولة قطر.<br/>
					الموافقة على الشروط و الاحكام<br/>
					تاريخ النفاذ والتعديلات .تسري شروط الاستخدام هذه اعتباراً من تاريخ نشر هذه الشروط على الموقع الإلكتروني لشركة و الدوحة لإدارة المشاريع ذ.م.م. وتحتفظ الشركة بحق تعديل شروط الاستخدام من وقت لآخر وستقوم بنشر أي تعديل على شروط الاستخدام في هذه الصفحة. لن تخطر الشركة زوار الموقع الإلكتروني أو عملائها بأية تعديلات من خلال البريد الإلكتروني أو عناوين الاتصال الشخصية الأخرى. يتحمل مستخدم الموقع الإلكتروني مسؤولية الاطلاع على شروط الاستخدام من وقت لآخر للتأكد من التزامه بها. تسري التعديلات اعتباراً من تاريخ نشرها على الموقع الإلكتروني. كما يعتبر دخولك واستخدامك لهذا الموقع. وعبر الاستمرار في استخدام و/ أو تصفّح هذا الموقع و/ أو أية خدمات على الموقع، إقرارا بموافقتك على الالتزام بهذه الشروط والأحكام.
				</p>
			</li>
		</ol>
	</div>
</div>


