<section class="services">
	<div class="section-title">
		<h2 class="heading">خدمتنا مجانية</h2>
		<p class="para">نقدم لكم باقة من الحلول التي تساعدك في بناء مشروعك أو بيت العمر، خدماتنا كلها بدون رسوم</p>
	</div>

	<div class="cards">
		<div class="service-card">
			<div class="box">
				<img src="/assets/images/service-icon.png" alt="Service">
			</div>

			<h3 class="service-title">التصميم المعماري</h3>

			<p class="para">صمم بيت العمر من تصميم معماري و انشائي و خدمات حسب ميزانيتك  حتى اصدار الرخصة و المساعدة في تخليص الاجراءات الحكومية ذات الصلة</p>
		</div>

		<div class="service-card card2">
			<div class="box">
				<img src="/assets/images/service-icon.png" alt="Service">
			</div>

			<h3 class="service-title">طرح مشروع</h3>
			<p class="para">يمكنك تسعير المشروع و الحصول على تكلفة تقديرية اذا كانت خرائط مشروعك جاهز و يمكنك ايضا طرح مناقصة للحصول على اكثر من عرض سعر</p>
		</div>

		<div class="service-card">
			<div class="box">
				<img src="/assets/images/service-icon.png" alt="Service">
			</div>

			<h3 class="service-title">استشارة فنية</h3>
			<p class="para">يمكنك الاستفادة من خبرات فريق العمل لدينا و الحصول على استشارة فنية لمشروعك سواء متعلقة بالتصميم أو التسعير لمشروعك وذلك مجانا.</p>
		</div>
	</div>
</section>