<section class="services">
	<div class="section-title">
		<h2 class="heading" translate>Our_Services</h2>
		<p class="para" translate>Our_Services_Description</p>
	</div>

	<div class="cards">
		<div class="service-card">
			<div class="box box1">
				<img src="/assets/images/service-icon.svg" alt="Service">
			</div>

			<h3 class="service-title" translate>Our_Services_No1</h3>

			<p class="para" translate>Our_Services_No1_Desc</p>
		</div>

		<div class="service-card card2">
			<div class="box box2">
				<img src="/assets/images/service-icon.svg" alt="Service">
			</div>

			<h3 class="service-title" translate>Our_Services_No2</h3>
			<p class="para" translate>Our_Services_No2_Desc</p>
		</div>

		<div class="service-card">
			<div class="box box3">
				<img src="/assets/images/service-icon.svg" alt="Service">
			</div>

			<h3 class="service-title" translate>Our_Services_No3</h3>
			<p class="para" translate>Our_Services_No3_Desc</p>
		</div>
	</div>
</section>