<div class="home">
	<section class="carousel">
		<div class="content">
			<h2 class="heading-secondary">حياكم في</h2>
			<h1 class="heading-primary">الدوحة لإدارة المشاريع</h1>
	
			<p class="para">أول شركة قطرية لإدارة المشاريع تقدم خدمات شاملة من التصميم إلى التأثيث، تشمل أكثر من 10 خدمات هندسية، فنية، وقانونية لتمثيل المالك وضمان تنفيذ بجودة عالية. #خلك غير</p>
	
			<div class="actions">
				<button class="btn btn-primary" routerLink="/login-type">لطلب خدمة سجل الان</button>
				<button class="btn btn-watch">
					<img class="play-icon" src="/assets/images/play-icon.png" alt="Play Icon">
					صفختنا على الانستغرام
				</button>
			</div> 
		</div>
	
		<img class="side-image" src="/assets/images/doha_view.png" alt="Doha View">

	</section>

	<section class="how_it_works">
		<div class="content" dir="ltr">
			<div class="how">كيف تطلب الخدمة؟</div>

			<h2 class="heading-primary">ابتدي رحلة بيت العمر في 3 خطوات </h2>

			<div class="cards">
				<div class="item-card">
					<div class="item-number">
						<span class="fg-number">1</span>
					</div>
					<div class="text">سجل حسابك الجديد</div>
				</div>

				<div class="item-card card2">
					<div class="item-number">
						<span class="fg-number">2</span>
					</div>
					<div class="text">ارسل طلب التصميم أو التسعير </div>
				</div>

				<div class="item-card">
					<div class="item-number">
						<span class="fg-number">3</span>
					</div>
					<div class="text">راح نتواصل وياك</div>
				</div>
			</div>
		</div>

		<img class="side-image" src="/assets/images/qatari_man.png" alt="Qatari-men">

	</section>

	<app-services></app-services>

	<app-team></app-team>

	<app-services-offered></app-services-offered>

	<app-review></app-review>

	<app-analytics></app-analytics>

	<app-contact-us-mini></app-contact-us-mini>

	<app-connect-with-us></app-connect-with-us>
</div>
