<div class="home">
	<section class="carousel">
		<div class="content">
			<h1 class="heading-primary" translate>Welcome</h1>
	
			<p class="para" translate>Welcome_Description</p>
	
			<div class="actions">
				<button class="btn btn-primary" routerLink="/login-type" translate>Register_Now_Btn</button>
				<button class="btn btn-watch" translate>
					<img class="play-icon" src="/assets/images/play.svg" alt="play">
					Watch_Btn
				</button>
			</div>
		</div>
	
		<div class="image">
			<img src="/assets/images/bidding.png" alt="Bidding">
		</div>
	</section>

	<section class="how_it_works">
		<div class="content" dir="ltr">
			<div class="how" translate>How_It_Works</div>

			<h2 class="heading-primary" translate>How_It_Works_Heading</h2>

			<div class="cards">
				<div class="item-card">
					<div class="item-number item1">1</div>
					<div class="text" translate>How_It_Works_Step1</div>
				</div>

				<div class="item-card card2">
					<div class="item-number item2">2</div>
					<div class="text" translate>How_It_Works_Step2</div>
				</div>

				<div class="item-card">
					<div class="item-number item3">3</div>
					<div class="text" translate>How_It_Works_Step3</div>
				</div>
			</div>
		</div>

		<div class="video">
			<img src="/assets/images/flow.png" alt="Flow">
		</div>
	</section>

	<app-services></app-services>

	<app-team></app-team>

	<app-services-offered></app-services-offered>

	<app-review></app-review>

	<app-analytics></app-analytics>

	<app-contact-us-mini></app-contact-us-mini>

	<app-connect-with-us></app-connect-with-us>
</div>
