.home {
	.carousel {
		padding: 7rem 10rem 3rem;
		display: flex;
		align-items: center;
		justify-content: center;

		@media screen and (max-width: 1000px) {
			flex-direction: column;
		}

		@media screen and (max-width: 600px) {
			padding: 0 6rem 3rem;
		}

		@media screen and (max-width: 500px) {
			padding: 4rem 2rem 3rem;
		}

		.content {
			flex: 0 0 35%;
			margin-right: 15rem;

			@media screen and (max-width: 1600px) {
				flex: 0 0 40%;
			}

			@media screen and (max-width: 1440px) {
				flex: 0 0 50%;
			}

			@media screen and (max-width: 1000px) {
				order: 2;
				margin-right: 0;
			}

			.para {
				text-align: center;
				color: #11142D;
				font-weight: 600;
				margin-bottom: 10rem;

				@media screen and (max-width: 600px) {
					margin-bottom: 5rem;
				}
			}

			.actions {
				@media screen and (max-width: 600px) {
					margin-left: 0;
					text-align: center;
					display: flex;
					align-items: center;
					justify-content: center;
				}

				.btn-primary {
					background-color: var(--color-primary);
					color: #fff;
					border-radius: 4rem;
					border: none;
					padding: 1rem 2rem;
					margin-right: 4rem;

					@media screen and (max-width: 600px) {
						margin: 0;
						font-size: 1.1rem !important;
						margin-right: 1rem;
					}
				}
		
				.btn-watch {
					border: 1px solid #e7e2dd;
					padding: 1rem 2rem;
					border-radius: 4rem;
					font-weight: 600;

					@media screen and (max-width: 600px) {
						font-size: 1.1rem !important;

						img {
							width: 1.4rem;
						}
					}
				}
				
				.play-icon {
					margin-right: 1rem;
					
					@media screen and (max-width: 400px) {
						width: 1.3rem;
						margin-right: .5rem;
					}
				}
			}
		}
	}

	.how_it_works {
		display: flex;
		background-color: #fff;
		padding: 0 10rem;
		margin-top: 10rem;
		display: flex;
		justify-content: center;
		align-items: center;

		@media screen and (max-width: 1000px) {
			flex-direction: column;
		}

		@media screen and (max-width: 600px) {
			padding: 0 6rem;
		}

		@media screen and (max-width: 500px) {
			padding: 0 2rem;
		}

		.content {
			flex: 0 0 30%;
			margin-right: 15rem;
			direction: rtl;

			@media screen and (max-width: 1600px) {
				flex: 0 0 40%;
			}

			@media screen and (max-width: 1440px) {
				flex: 0 0 50%;
			}

			@media screen and (max-width: 1000px) {
				order: 2;
				margin-right: 0;
			}

			.how {
				font-size: 2rem;
				color: var(--color-primary);
				margin-bottom: 2rem;
			}

			.item-card {
				display: flex;
				align-items: center;

				box-shadow: 0px 7px 2.2rem rgba(143, 134, 196, 0.07);
				border-radius: 2rem;
				margin-bottom: 2rem;
				padding: 1rem 2rem;

				.item-number {
					font-size: 2.5rem;
					font-weight: 600;
					padding: 1rem 2.5rem;
					border-radius: 2rem;
					margin-left: 2rem;
					background-color: var(--color-primary-light);

					.fg-number {
						color: #A66E4A;
					}
				}

				.text {
					font-weight: 600;
				}
			}

			.card2 {
				box-shadow: 0px 19px 29px rgba(62, 53, 120, 0.14);
			}
		}
	}

	.heading-secondary {
		text-align: center;
		font-size: 4rem;
		font-weight: 600;
		color: var(--color-black);
	}

	.heading-primary {
		text-align: center;
		font-size: 5rem;
		font-weight: 600;
		color: var(--color-primary);
		margin-bottom: 2rem;

		@media screen and (max-width: 600px) {
			font-size: 3.5rem;
		}
	}

	.side-image {
		width: 38%;

		@media screen and (max-width: 1000px) {
			order: 1;
			margin: 0 0 6rem 3rem;
		}

		@media screen and (max-width: 600px) {
			width: 80%;
		}

		img {
			width: 100%;
			mix-blend-mode: multiply;
		}
	}
}