.bids {
	.pricing-table {
		padding: 2rem 10rem 10rem;
	
		table {
			padding: 0 10rem;

			thead {
				th {
					padding-bottom: 2rem;
				}
			}
	
			tbody 
			{
				tr {
					box-shadow: 0px 5px 12px rgba(62, 53, 120, 0.07);
					border-radius: 20px;
				}

				td {
					vertical-align: middle;	
				}
			}

			th, td {
				border-bottom: none;
				padding: 1.5rem 3rem;
			}
		
			.action-cell {
				width: 24rem;
				min-width: 24rem
			}
		}

		.not_qualified {
			color: red;
		}
	
		.qualified {
			color: green;
		}
	}
}