<section class="team">
	<div class="section-title">
		<h2 class="heading" translate>Our_Team</h2>
		<p class="para" translate>Our_Team_Description</p>
	</div>

	<div class="cards">
		<div class="team-card">
			<div class="icons">
				<i class="material-icons star">star</i>
				<i class="material-icons">more_vert</i>
			</div>

			<div class="flex justify-center member-image-container">
				<img src="/assets/images/team/supplier.png" alt="Member 1" class="member-image">
			</div>

			<div class="name" translate>Team1_Name</div>
			<p class="para" translate>Team1_Description</p>
		</div>

		<div class="team-card">
			<div class="icons">
				<i class="material-icons star">star</i>
				<i class="material-icons">more_vert</i>
			</div>

			<div class="flex justify-center member-image-container">
				<img src="/assets/images/team/consultant.png" alt="Member 2" class="member-image">
			</div>

			<div class="name" translate>Team2_Name</div>
			<p class="para" translate>Team2_Description</p>
		</div>

		<div class="team-card">
			<div class="icons">
				<i class="material-icons star">star</i>
				<i class="material-icons">more_vert</i>
			</div>

			<div class="flex justify-center member-image-container">
				<img src="/assets/images/team/contractor.png" alt="Member 3" class="member-image">
			</div>

			<div class="name" translate>Team3_Name</div>
			<p class="para" translate>Team3_Description</p>
		</div>

		<div class="team-card">
			<div class="icons">
				<i class="material-icons star">star</i>
				<i class="material-icons">more_vert</i>
			</div>

			<div class="flex justify-center member-image-container">
				<img src="/assets/images/team/client.png" alt="Member 3" class="member-image">
			</div>

			<div class="name" translate>Team4_Name</div>
			<p class="para" translate>Team4_Description</p>
		</div>
	</div>
</section>