<section class="team">
	<div class="section-title">
		<h2 class="heading">خدمات تحت مظلة واحدة</h2>
		<p class="para">تشمل خدماتنا جميع أطراف مشاريع البناء تحت مظلة واحدة</p>
	</div>

	<div class="cards">
		<div class="team-card">
			<div class="flex justify-center member-image-container">
				<img src="/assets/images/team/supplier.png" alt="Supplier" class="member-image">
			</div>

			<div class="name">المورد</div>
			<p class="para">تعمل الشركة على تسهيل عملية التوريد وتوفير الدعم اللازم لضمان تجربة ممتازة لمورديها. من بين الخدمات التي تقدمها الشركة لموردي المواد والمنتجات</p>
		</div>

		<div class="team-card">
			<div class="flex justify-center member-image-container">
				<img src="/assets/images/team/consultant.png" alt="Consultant" class="member-image">
			</div>

			<div class="name">الاستشاري</div>
			<p class="para">تقدم شركة "الدوحة لإدارة المشاريع والتجارة" مجموعة شاملة من الخدمات المخصصة للاستشاريين. تتمثل هذه الخدمات في توفير الدعم الفني والمهني اللازم خلال جميع مراحل عملية التنفيذ، مما يساعدهم على ضمان تنفيذ المشاريع بكفاءة وفعالية.</p>
		</div>

		<div class="team-card">
			<div class="flex justify-center member-image-container">
				<img src="/assets/images/team/contractor.png" alt="Contractor" class="member-image">
			</div>

			<div class="name">المقاول</div>
			<p class="para">تقدم شركتنا مجموعة كبيرة من الخدمات المتخصصة للمقاولين والشركات في صناعة البناء والتشييد، وتسعى دائمًا لتحقيق أعلى معايير الجودة والكفاءة في كل مشروع تتولى تنفيذه. من بين الخدمات التي تقدمها الشركة</p>
		</div>

		<div class="team-card">
			<div class="flex justify-center member-image-container">
				<img src="/assets/images/team/client.png" alt="Client" class="member-image">
			</div>

			<div class="name" translate>العميل</div>
			<p class="para" translate>بصفتك المالك، استفد من أول شركة قطرية لإدارة المشاريع التي تقدم خدمات شاملة من التصميم إلى التأثيث، مع أكثر من 10 خدمات هندسية، فنية، وقانونية تضمن لك تنفيذ مشروعك بأعلى جودة.</p>
		</div>
	</div>
</section>