<div class="projects">
  @if (!inUserProfile) {
    <section class="projects-logo-header">
      <div class="content">
        <h1 class="heading-primary">قائمة مشاريعك</h1>
      </div>
      <img class="image" src="/assets/images/project_management.png" alt="Project">
    </section>
  }

  <div class="generic-table" [class.in-profile]="inUserProfile">
    @if (!inUserProfile) {
      <div class="header">
        <div class="title-section">
          <h2 class="mr-3 fg-primary title">Showing {{ totalRecords }} projects </h2>
          <div class="search-input-group">
            <input class="search-field" type="text" placeholder="Search project by name" [formControl]="searchFC">
            <button class="btn btn-search">Search projects</button>
          </div>
          <button class="btn btn-primary" (click)="createProject();">Create Project</button>
        </div>
      </div>
    }

    <div class="content">
      <table class="table">
        <thead>
          <tr>
            <th>Project Number</th>
            <th>Name</th>
            <th>Location</th>
            <th>Type</th>
            <th>Description</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          @for (project of projects; track project) {
            <tr class="collapsed">
              <td>{{ project.projectId }}</td>
              <td>{{ project.name }}</td>
              <td>{{ project.location }}</td>
              <td>{{ project.type }}</td>
              <td>{{ project.description }}</td>
              <td class="status-cell">
                <div [ngClass]="project.isApproved ? 'approved' : 'pending'">
                  {{ project.isApproved ? 'Approved' : 'Not Approved' }}
                </div>
              </td>
            </tr>
          }

          @if (projects.length === 0;) {
            <tr>
              <td colspan="5">No projects added yet.</td>
            </tr>
          }
        </tbody>
      </table>

      <div class="cards">
        @for (project of projects; track project) {
          <div class="card">
            <div class="items-row justify-center">
              <div class="item">
                <div class="label">Project Number</div>
                <div class="value text-center">{{ project.projectId }}</div>
              </div>
            </div>
            <div class="items-row">
              <div class="item mr-12">
                <div class="label">Name</div>
                <div class="value">{{ project.name }}</div>
              </div>
              <div class="item">
                <div class="label">Location</div>
                <div class="value">{{ project.location }}</div>
              </div>
            </div>
            <div class="items-row">
              <div class="item mr-12">
                <div class="label">Type</div>
                <div class="value">{{ project.type }}</div>
              </div>
              <div class="item">
                <div class="label">Description</div>
                <div class="value">{{ project.description }}</div>
              </div>
            </div>
            <div class="items-row justify-center">
              <div class="item">
                <div class="label">Status</div>
                <div class="value text-center">
                  <div [ngClass]="project.isApproved ? 'approved' : 'pending'">
                    {{ project.isApproved ? 'Approved' : 'Not Approved' }}
                  </div>
                </div>
              </div>
            </div>
          </div>
        }

        @if (projects.length === 0;) {
          <div>
            No projects added yet.
          </div>
        }
      </div>

      <app-pagination [limit]="limit" [totalRecords]="totalRecords" (pageChange)="onPageChange($event)"></app-pagination>
    </div>
  </div>
</div>