<section class="reviews">
	<div class="section-title">
		<h2 class="heading" translate>Review_title</h2>
		<p class="para" translate>Review_Description</p>
	</div>

	<div class="review-container">
		<div class="customer-image-box">
			<img src="/assets/images/review.png" class="review-image" alt="review">
		</div>

		<div class="flex flex-col" dir="rtl">
			<div class="name" translate>Who_We_Are</div>
			
			<div class="rating-container">
				<div class="designation" translate>Brief_intro</div>
				<div class="flex items-center rating">
					<div class="mr-3">
						<i class="material-icons star">star</i>
						<i class="material-icons star">star</i>
						<i class="material-icons star">star</i>
						<i class="material-icons star">star</i>
					</div>
				</div>
			</div>

			<div class="review" translate>Review</div>
		</div>
	</div>
</section>