<section class="reviews">
	<div class="section-title">
		<h2 class="heading">الدوحة لادارة المشاريع</h2>
		<p class="para">خلك_غير</p>
	</div>

	<div class="review-container">
		<div class="customer-image-box">
			<img src="/assets/images/logo_review.png" class="review-image" alt="Logo">
			<img src="/assets/images/quote-icon.png" class="quote-icon" alt="Quote Icon">
		</div>

		<div class="flex flex-col" dir="rtl">
			<div class="name">من نحن</div>
			
			<div class="rating-container">
				<div class="designation">نبذة عن الدوحة لادارة المشاريع</div>
				<div class="flex items-center rating">
					<div class="mr-3">
						<i class="material-icons star">star</i>
						<i class="material-icons star">star</i>
						<i class="material-icons star">star</i>
						<i class="material-icons star">star</i>
					</div>
				</div>
			</div>

			<div class="review">تأسست شركة الدوحة لإدارة المشاريع لتقديم حلول شاملة لبناء المشاريع للمواطن القطري، وتقليل المخاطر من خلال إدارة فعالة لعلاقات التعاقد بين المالك، الاستشاري، والمقاول. ندرك التحديات التي تواجه المواطنين في رحلتهم لبناء منازلهم، لذا نلتزم بتقديم خدمات عالية الجودة، بدءًا من دراسة الميزانية حتى تسليم المفتاح. نفخر بفريقنا من المهندسين والمهنيين ذوي الخبرة في السوق القطري، ونسعى دائماً لتلبية احتياجات عملائنا بأفضل الحلول الممكنة.</div>
		</div>
	</div>
</section>