<div class="login-selection">
  <div class="heading">Welcome to DPM Tenders</div>

  <div class="type-container">
    <div class="cards">
      @for (rec of loginTypes; track rec) {
        <div class="user-type">
          <div class="box">
            <img [src]="rec.image" [alt]="rec.type" class="user-type-image">
          </div>
          <div class="title">
            @switch (rec.type) {
              @case ('Client') {
                <div>عميل</div>
              }
              @case ('Supplier') {
                <div>شركة توريد</div>
              }
              @case ('Contractor') {
                <div>شركة مقاولة</div>
              }
              @case ('Consultant') {
                <div>مكتب استشاري</div>
              }
            }
          </div>
          <div>
            <button class="btn btn-login" (click)="onLogin(rec)">Login</button>
            <button class="btn btn-register" (click)="onRegister(rec)">Register</button>
          </div>
        </div>
      }
    </div>
  </div>
</div>
