<div class="downloads family-roboto">
  @if (!inUserProfile) {
    <div class="detail-page-upper-box">Download Center</div>
  }

  <div class="generic-table" [class.in-profile]="inUserProfile">
    <div class="content">
      <table class="table">
        <thead>
          <tr>
            <th>Documents</th>
            <th>Description</th>
          </tr>
        </thead>
        <tbody>
          @for (rec of downloads; track rec) {
            <tr class="collapsed">
              <td>
                @if (rec.documents.length === 1) {
                  <a [href]="rec.documents[0]" download>download</a>
                } @else {
                  <a class="underlined pointer" (click)="onDownload(rec.documents)">download</a>
                }
              </td>
              <td>{{ rec.description }}</td>
            </tr>
          }

          @if (downloads.length === 0;) {
            <tr>
              <td colspan="5">No downloads available.</td>
            </tr>
          }
        </tbody>
      </table>
    </div>

    <div class="cards">
      @for (rec of downloads; track rec) {
        <div class="card">
          <div class="items-row">
            <div class="item">
              <div class="label">Documents ({{rec.documents.length}})</div>
              <div class="value">
                @if (rec.documents.length === 1) {
                  <a [href]="rec.documents[0]" download>download</a>
                } @else {
                  <a class="underlined pointer" (click)="onDownload(rec.documents)">download</a>
                }
              </div>
            </div>
          </div>
          <div class="items-row">
            <div class="item">
              <div class="label">Description</div>
              <div class="value">{{ rec.description }}</div>
            </div>
          </div>
        </div>
      }

      @if (downloads.length === 0;) {
        <div>
          No downloads available.
        </div>
      }
    </div>
  </div>
</div>
