<div class="reset-password family-roboto">
  <div class="reset-password-container">
    <form [formGroup]="theForm" class="form">
      <div class="flex justify-center">
        <img src="/assets/images/logo_primary.png" class="top-logo" alt="DPM Logo">
      </div>

      <div class="form-group col">
        <label for="password">New Password</label>
        <input id="password" type="password" class="form-control" placeholder="Enter Password" formControlName="password">
        @if (theForm.get('password')?.touched && theForm.get('password')?.invalid) {
          <div class="alert alert-danger"
            >
            @if (theForm.get('password')?.hasError('required')) {
              <div>New Password is required</div>
            }
          </div>
        }
      </div>

      <div class="form-group col">
        <label for="confirm_password">Confirm New Password</label>
        <input id="confirm_password" type="password" class="form-control" placeholder="Enter Confirm Password" formControlName="confirmPassword">

        @if (theForm.get('confirmPassword')?.touched && theForm.get('confirmPassword')?.invalid) {
          <div class="alert alert-danger"
            >
            @if (theForm.get('confirmPassword')?.hasError('required')) {
              <div>Confirm Password is required</div>
            }
            @if (theForm.get('confirmPassword')?.hasError('matching')) {
              <div>Password and confirmPassword are not matched</div>
            }
          </div>
        }
      </div>

      <div class="actions">
        <button class="btn" (click)="onResetPassword()" [disabled]="theForm.invalid || disableBtn">
          @if (!disableBtn) {
            <span>Reset Password</span>
          }
          @if (disableBtn) {
            <div class="flex">
              <span class="spinner-border" role="status" aria-hidden="true"></span>
              <span class="sr-only ml-3">submitting...</span>
            </div>
          }
        </button>
      </div>
    </form>
  </div>
</div>
