@if (user) {
  <div class="profile family-roboto">
    <div class="basic-info">
      <div class="circle" routerLink="/profile">
        <img src="/assets/images/avatar.jpg" alt="avatar" class="avatar">
      </div>
      <div class="name">{{ user.name }}</div>
      <div class="type">{{ user.type }}</div>
      <div class="info-row">
        <i class="material-icons">mail</i>
        <div class="value">{{ user.email }}</div>
      </div>
      <div class="info-row">
        <i class="material-icons">call</i>
        <div class="value">+974 {{ user.mobileNumber }}</div>
      </div>
    </div>
    <div class="tabs-container">
      <div class="tabs">
        @for (tab of tabs; track tab) {
          <div class="tab" [class.selected]="tab.selected" (click)="onTabSelect(tab)">{{ tab.title }}</div>
        }
      </div>
      <div class="content">
        @switch (selectedTab.name) {
          @case ('notifications') {
            <app-notifications [inUserProfile]="true"></app-notifications>
          }
          @case ('projects') {
            <app-projects [inUserProfile]="true"></app-projects>
          }
          @case ('download_center') {
            <app-download-center [inUserProfile]="true"></app-download-center>
          }
          @case ('tenders') {
            <app-tenders-table></app-tenders-table>
          }
        }
      </div>
    </div>
  </div>
}