.details-container {
	font-family: 'Roboto', sans-serif;

	.box {
		color: #fff;
		padding: 5rem 0;
		text-align: center;
		font-size: 3.2rem;
		font-weight: 600;
		background-size: cover;
		background-position: center;
		background-image: url(/assets/images/tender_back_image.jpg);
		
		@media screen and (max-width: 500px) {
			padding: 4rem 0;
		}
	}

	.details {
		padding: 10rem;

		@media screen and (max-width: 500px) {
			padding: 6rem;
		}

		@media screen and (max-width: 400px) {
			padding: 2rem;
		}

		.items {
			display: flex;
			justify-content: space-between;
			flex-wrap: wrap;

			.item {
				display: flex;
				flex-direction: column;
				align-items: center;
				margin-bottom: 8rem;
				min-width: 32%;
				max-width: 49%;

				.icon {
					width: 4rem;
				}

				.icon-box {
					width: 4rem;
					padding: 1.8rem 4rem;
					display: flex;
					align-items: center;
					justify-content: center;
					border-radius: 1.5rem;
					box-shadow: 0px 19px 29px rgba(62, 53, 120, 0.14);
					margin-bottom: 2rem;
				}
		
				.material-icons {
					color: var(--color-primary);
				}
	
				.label {
					margin-bottom: 1rem;
					font-weight: 600;
				}
		
				.value {
					text-transform: uppercase;
					text-align: center;
					color: var(--color-primary);
				}
			}
		}

		.actions {
			margin-top: -3rem;
			margin-bottom: 8rem;
			text-align: center;
		}
	}

	a {
		cursor: pointer;
		color: #5F4BDB;
	}
}

.btn-primary {
	background-color: var(--color-primary);
	border-color: var(--color-primary);
}

.btn-back {
	background-color: #2E2E2E;
	color: #fff;
}

.message-panel {
	background: #fff;
	padding: 5rem;
	border-radius: 1rem;
	text-align: center;
	font-size: 2rem;
	color: #0da40d;
	font-weight: 600;
	margin-top: 3rem;

	@media screen and (max-width: 500px) {
		padding: 5rem 0;
	}
}