@if (!message) {
  <div class="details-container">
    <div class="box">Tender Details</div>
    @if (tender) {
      <div class="details">
        <div class="items">
          <div class="item">
            <div class="icon-box">
              <img src="/assets/images/tender_icons/number_list.png" alt="Tender number icon" class="icon">
            </div>
            <div class="label">Tender Number</div>
            <div class="value">{{ tender.tenderNumber }}</div>
          </div>
          <div class="item">
            <div class="icon-box">
              <img src="/assets/images/tender_icons/tender_type.png" alt="Tender type icon" class="icon">
            </div>
            <div class="label">Tender Type</div>
            <div class="value">{{ tender.type }}</div>
          </div>
          <div class="item">
            <div class="icon-box">
              <img src="/assets/images/tender_icons/location.png" alt="Tender location icon" class="icon">
            </div>
            <div class="label">Tender Location</div>
            <div class="value">{{ tender.location }}</div>
          </div>
          <div class="item">
            <div class="icon-box">
              <img src="/assets/images/tender_icons/no_of_applicants.png" alt="No of participants icon" class="icon">
            </div>
            <div class="label">No of participants</div>
            <div class="value">{{ tender.noOfParticipants }}</div>
          </div>
          <div class="item">
            <div class="icon-box">
              <img src="/assets/images/tender_icons/opening_date.png" alt="Opening date icon" class="icon">
            </div>
            <div class="label">Opening Date</div>
            <div class="value">{{ tender.openingDate | date: 'dd/MM/YYYY' }}</div>
          </div>
          <div class="item">
            <div class="icon-box">
              <img src="/assets/images/tender_icons/closing_date.png" alt="Closing date icon" class="icon">
            </div>
            <div class="label">Closing Date</div>
            <div class="value">{{ tender.closingDate | date: 'dd/MM/YYYY' }}</div>
          </div>
          <div class="item">
            <div class="icon-box">
              <img src="/assets/images/tender_icons/time_remaining.png" alt="Time remaining icon" class="icon">
            </div>
            <div class="label">Time Remaining</div>
            <div class="value">
              @if (tender.remainingTime === 0) {
                <span>Tender is closed</span>
              }
              @if (tender.remainingTime === -1) {
                <span>Tender is not started yet</span>
              }
              @if (tender.remainingTime !== 0 && tender.remainingTime !== -1) {
                <span>{{ tender.remainingTime }}</span>
              }
            </div>
          </div>
          <div class="item">
            <div class="icon-box">
              <img src="/assets/images/tender_icons/description.png" alt="Description icon" class="icon">
            </div>
            <div class="label">Description</div>
            <div class="value">{{ tender.description }}</div>
          </div>
          <div class="item">
            <div class="icon-box">
              <img src="/assets/images/tender_icons/documents.png" alt="Documents icon" class="icon">
            </div>
            <div class="label">Documents @if (tender.documents) {
              <span>({{tender.documents.length}})</span>
            }</div>
            <div class="value">
              @if (tender.documents) {
                @if (tender.documents.length === 1) {
                  <a [href]="tender.documents[0]" download>download</a>
                } @else {
                  <a class="underlined" (click)="onDownload()">download</a>
                }
              } @else {
                NA
              }
            </div>
          </div>
        </div>
        @if (tender) {
          <div class="actions">
            @if (tender.remainingTime != 0
              && tender.remainingTime != -1
              && !tender.bid
              && (user && ['Consultant', 'Contractor', 'Supplier'].includes(user.type))) {
              <button
                class="btn btn-primary mr-3" (click)="onParticipate(tender)" [disabled]="disableBtn">
                @if (!disableBtn) {
                  <span>مشاركة</span>
                }
                @if (disableBtn) {
                  <div class="flex">
                    <span class="spinner-border"></span>
                    <span class="sr-only ml-3">submutting...</span>
                  </div>
                }
              </button>
            }
            @if (
              (tender.bid && tender.bid.status == null)
              && tender.canBid
              && tender.remainingTime != 0
              && (user && ['Consultant', 'Contractor', 'Supplier'].includes(user.type))) {
              <button
                class="btn btn-primary mr-3" (click)="onParticipate(tender)">
                تسعير
              </button>
            }
            @if (tender.remainingTime === 0 && tender.bid.status) {
              <button class="btn btn-primary mr-3"
                (click)="onViewPricing(tender)">قائمة الاسعار للمشاركين
              </button>
            }
            <button class="btn btn-back" routerLink="/tenders">رجوع</button>
          </div>
        }
      </div>
    }
  </div>
}

@if (message) {
  <div class="message-panel">
    <h2>{{ message }}</h2>
    <div class="mt-3">
      <button class="btn btn-back" routerLink="/tenders">رجوع</button>
    </div>
  </div>
}
